@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  color: white;
  overflow-x: hidden;
}
@keyframes spin-slow {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes reverse-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}

.animate-reverse-spin {
  animation: reverse-spin 15s linear infinite;
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}